@import './styles/settings.scss';

.adminContainer {
    min-height: 100vh;
    display: flex;

    .sidebar {
        min-width: 250px;
        display: flex;

        .sidebarContent {
            margin: auto;
        }
    }
    
    .adminSectionContainer {
        flex-grow: 1;
        background-color: $color-grey;
    }
}