/*** layout ***/

/* sidebar */ 

.container {
  display: flex;
}

.sidebar {
  height: 100vh;
  min-width: 200px;
  display: flex;
}

.sidebar-content {
  margin: auto;
}

.sidebar-icon {
  font-size: 30px; 
  margin-left: 17px;
}

/* content */

.admin-content {
  width: 100%;
  height: 100%;
  background-color:  #f3f1ef;
}

/* messages box */

.message-box {
  height: 100%;
  min-height: 170px;
  background-color: #95cfd9;
  margin: 20px 40px 20px 35px;
  border-radius: 15px;
}

.message-box h1 {
  margin: 20px 0 0 20px;
  padding-top: 10px;
}

.underline {
  height: 5px;
  width: 30px;
  background-color: #f6502c;
  margin: 5px 0 0 20px;
}

.message {
  background-color: #0f1322;
  margin: 15px 20px 15px 20px;
  border-radius: 15px;
}

.message-box .textarea {
  background-color: #0f1322;
  color: white;
  margin: 20px 20px 15px;
  padding: 20px 0px 0px 20px;
  width: 93%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
}

/* calendar */

.calendar-container {
  flex-grow: 1;
  height: 100%;
  background-color: #dabda9;
  margin: 0px 40px 20px 40px;
  border-radius: 15px;
}

.calendar-container h1{
  padding: 20px 0 0 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.calendar-header-right {
  padding: 10px 10px 0px 0px;
}

.calendar-header-right button {
  margin-right: 10px;
}

.calendar-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;
}

.calendar-content h1 {
  margin: 40px 0px 30px 0px;
  padding: 0px;
}

.calendar-content button {
  margin: 0 auto 20px;
}

.calendar-days {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.day-column {
  width: 10vw;
}

.day-column h2 {
  font-size: 16px;
}

.day-column .hour {
  display: flex;
  background-color: #e6dcd3;
  height: 40px;
  margin: 2px 5px;
  padding: 14px 0px 1px;
  justify-content: center;
  position: relative;
  border-radius: 0;
  width: 100%;
  color: black;
}

.day-column .hour:hover {
  background-color: #f6502c;
  color: white;
}

.day-column .active {
  background-color: #f6502c;
  color: white;
}

.day-column .hour:hover p {
  color: white;
}

.day-column .hour:active p {
  color: white;
}

.day-column:hover .reserved {
  background-color: #0f1322;
}

.day-column .reserved {
  background-color: #0f1322;
  font-size: 10px;
  color: white;
}

/* modal */

.modal-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;  
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.2s, visibilty 0.2s, transform 0.2s;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
}

.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1)
}

.modal-content {
  width: 60%;
  height: 60%;
  background-color: white;
  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
} 

/*** Media queries ***/

@media only screen and (max-width: 992px) {

  .sidebar {
    height: 120px;
  }

  .sidebar-content{
    padding-top: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .user-box {
    flex-grow: 1;
    margin: 20px 40px 0px 40px;
  }
      
  .message-box {
    flex-grow: 1;
    margin: 20px 40px;
  }

  .day-column h2 {
    font-size: 14px;
  }

  .day-column .hour p {
    font-size: 12px;
  }

  .day-column .reserved {
    background-color: #0f1322;
    font-size: 10px;
    padding: 10px;
  }

}

@media only screen and (max-width: 743px) {

  .calendar-container h1 {
    display: none;
  }

  .calendar-header-left .underline {
    display: none;
  }

  .calendar-header-right {
    text-align: center;
  }

  .calendar-header-right button {
    margin: 3px;
  }

}