
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500");

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
}

h2 {
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin: 10px 0px;
    letter-spacing: 1px;
}

p {
    font-size: 14px;
    color: white;
}

button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #f6502c;
    font-size: 14px;
    color: white;
}

button:hover {
    background-color: #f62c4b;
}
